doctype html
html
  head
    title= title

    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
      script(src="/javascripts/knockout-latest.js")
  body
    include header.pug
    block content
