doctype html
html
  head
    title= title
    
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Pacifico")
    
    block favicons
      link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
      link(rel="icon" type="image/png", sizes="32x32", href="/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="16x16", href="/favicon-16x16.png")
      link(rel="manifest", href="/manifest.json")
      link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#4d990e")

    block meta
      meta(name="apple-mobile-web-app-title", content="Juicifity")
      meta(name="application-name", content="Juicifity")
      meta(name="theme-color", content="#4d990e")

    block scripts
      script(src="/javascripts/knockout-latest.js")

  body
    include header.pug
    block content
